body {
    font-family: 'Courier Prime', monospace;
    font-size: 16px;
}

.content{
    font-size: 15px;
    margin: 10px 40px;
}

.navbar ul{
    list-style-type: none;
    display: flex;
}

.navbar ul li{
    margin: 0 5px;
}

.footer div{
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}